/*
SITE COLORS:
section color: #colorInHex

Use dashes for class selectors and uppercase for ids

*/

::before *,
*,
::after * {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Add site color values here with CSS Variables */
:root {
  --ff-primary: "Nunito Sans", monospace;
  --ff-secondary: "sans-serif";
  --clr-light: #ffffff;
  --clr-dark: #000000;
  --clr-blue-accent: #1e79e4;
}

/* FONTS (for custom fonts) */
@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/Futura/FuturaPTDemi.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* WRAPPER 
Consider it to have max-width, padding, margin & position property
*/

.wrapper {
  background: #fff;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.6rem;
}

/* REPEATING CLASS STYLES */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.align-center {
  text-align: center;
}

/* FORM STYLES 
  You could also target type=password etc

  input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #3CBC8D;
  color: white;
} */

/*
By default, some browsers will add a blue outline around the input when it gets focus 
(clicked on). You can remove this behavior by adding outline: none; to the input.

input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
} 

INPUT WITH ICON/IMAGE

input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

TEXTAREA

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

SELECT MENUS

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

INPUT BUTTONS

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

*/

/* HEADER STYLES*/

/* BANNER STYLES */

/* OTHER SECTION */

/* OTHER SECTION */

/* OTHER SECTION */

/* OTHER SECTION */

/* RESPONSIVE STYLES */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}
/*

  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
